.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.sidenav-container {
    flex-grow: 1;
}

.file-path {
    height: 75%;
    width: 100%;
    margin: 0.5vw;
    border-radius: 50px;
    justify-content: center;
}