<div class="main-container">
    <mat-toolbar class="header">
        <div class="button-container">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon fontIcon="menu"> </mat-icon>
            </button>
        </div>

        <span>Tree Viewer</span>

        <mat-card appearance="outlined" class="file-path">
            <mat-card-content class="mat-body-large">
                <app-breadcrumb></app-breadcrumb>
            </mat-card-content>
        </mat-card>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="over" opened="false" class="sidenav">
            <mat-action-list>
                <mat-divider></mat-divider>
                <button mat-list-item (click)="onOpenFolderClick($event)">
                    Open Folders
                </button>
                <input type="file" webkitdirectory directory hidden id="fileInput" (change)="onFileSelected($event)">
                <mat-divider></mat-divider>
            </mat-action-list>
        </mat-sidenav>

        <mat-sidenav-content class="sidenav-content">
            <ng-container *ngIf="displayMode === DisplayMode.NO_CONTENT; else folderBlock">
                <display-no-content></display-no-content>
            </ng-container>

            <ng-template #folderBlock>
                <ng-container *ngIf="displayMode === DisplayMode.FOLDER; else treeBlock">
                    <display-folder></display-folder>
                </ng-container>
            </ng-template>

            <ng-template #treeBlock>
                <display-zoom></display-zoom>
            </ng-template>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>