.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidenav-container {
    flex-grow: 1;
    background-color: #21262d;
    scrollbar-color: #b1bac4 transparent;
}

.sidenav {
    padding: 5px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #21262d;
}

.sidenav mat-divider {
    border-top-color: gray;
}

.sidenav button {
    border-radius: 5px;
    background-color: #21262d;
    transition: 90ms;
}

.sidenav button:hover {
    background-color: #6e7681;
}

:host::ng-deep.sidenav .mdc-list-item__primary-text {
    color: white;
}

:host::ng-deep.sidenav .mdc-list-item:focus .mdc-list-item__primary-text {
    color: white;
}

:host::ng-deep.sidenav .mdc-list-item:hover .mdc-list-item__primary-text {
    color: white;
}

.sidenav-content.tree-mode {
    overflow: hidden;
    display: flex;
}