<div class="main-container">
    <mat-toolbar class="header">
        <div class="button-container">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon fontIcon="menu"> </mat-icon>
            </button>
        </div>

        <span>Tree Viewer</span>

        <mat-card appearance="outlined" class="file-path">
            <mat-card-content class="mat-body-large">
                <app-breadcrumb></app-breadcrumb>
            </mat-card-content>
        </mat-card>

        <div class="button-container">
            <ng-container *ngIf="!astSidebarToggle">
                <button mat-icon-button (click)="onAstSidebarToggle()" [disabled]="displayMode !== DisplayMode.TREE">
                    <mat-icon svgIcon="left_panel_open"></mat-icon>
                </button>
            </ng-container>

            <ng-container *ngIf="astSidebarToggle">
                <button mat-icon-button (click)="onAstSidebarToggle()">
                    <mat-icon svgIcon="close_square"></mat-icon>
                </button>
            </ng-container>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="over" opened="false" class="sidenav">
            <mat-action-list>
                <button mat-list-item (click)="onOpenFolderClick($event)">
                    Open Folder
                </button>
                <input type="file" webkitdirectory directory hidden id="fileInput" (change)="onFileSelected($event)">
            </mat-action-list>
        </mat-sidenav>

        <mat-sidenav-content #sidenavContent class="sidenav-content" [ngClass]="{
            'no-content-mode': displayMode === DisplayMode.NO_CONTENT,
            'folder-mode': displayMode === DisplayMode.FOLDER,
            'tree-mode': displayMode === DisplayMode.TREE
        }">
            <ng-container *ngIf="displayMode === DisplayMode.NO_CONTENT; else folderBlock">
                <display-no-content></display-no-content>
            </ng-container>

            <ng-template #folderBlock>
                <ng-container *ngIf="displayMode === DisplayMode.FOLDER; else treeBlock">
                    <display-folder></display-folder>
                </ng-container>
            </ng-template>

            <ng-template #treeBlock>
                <display-zoom [parentHeight]="sidenavContentOriginHeight"
                    [parentWidth]="astSidebarToggle ? sidenavContentOriginWidth * (2/3) : sidenavContentOriginWidth"></display-zoom>

                <ng-container *ngIf="astSidebarToggle">
                    <ast-side-bar [parentHeight]="sidenavContentOriginHeight"
                        [parentWidth]="sidenavContentOriginWidth * (1/3) - 20"></ast-side-bar>
                </ng-container>
            </ng-template>

        </mat-sidenav-content>
    </mat-sidenav-container>

</div>