<div #astSidebar class="ast-sidebar-container">
    <div #codeContainer class="code-container">
        <div #codeNumber class="code-line-number-list"></div>
        <div #code class="code-line-list"></div>
    </div>

    <div class="checkbox-container">
        <div class="checkbox-item" (click)="toggleAlwaysOpen($event)" onkeypress="">
            <mat-checkbox id="suspend-open-close" [checked]="optionList.options[AstOption.ALWAYS_OPEN]">Always
                open</mat-checkbox>
        </div>
    </div>
</div>