.ast-sidebar-container {
    height: 100%;
    color: white;
    background-color: #21262d;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid gray;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.code-container {
    border: solid 1px gray;
    border-radius: 5px;
    background-color: #21262d;
    width: 100%;
    height: 50%;
    display: flex;
    overflow: auto;
    scrollbar-color: #b1bac4 transparent;
}

.code-line-number-list {
    white-space: pre;
    font-family: 'Consolas', sans-serif;
}

:host::ng-deep .hl-n {
    color: #39FF14;
}

.code-line-list {
    white-space: pre;
    font-family: 'Consolas', sans-serif;
}

.code-line {
    display: block;
    white-space: nowrap;
    text-wrap: nowrap;
}

:host::ng-deep .hl-c {
    color: #39FF14;
}

.checkbox-item {
    border: solid 1px gray;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 90ms;
}

.checkbox-item:hover {
    border: solid 1px white;
}

:host::ng-deep .checkbox-item .mdc-label {
    color: white;
}

:host::ng-deep .checkbox-item .mdc-checkbox__background {
    border-color: white;
}

:host::ng-deep .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
:host::ng-deep .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
:host::ng-deep .mdc-checkbox__native-control:focus:focus:checked~.mdc-checkbox__background,
:host::ng-deep .mdc-checkbox__native-control:focus:focus:indeterminate~.mdc-checkbox__background,
:host::ng-deep .mdc-checkbox__native-control:focus:focus:not(:checked)~.mdc-checkbox__background,
:host::ng-deep .mdc-checkbox__native-control:focus:focus:not(:indeterminate)~.mdc-checkbox__background {
    border-color: white;
}